<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="elfin10_l">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import elfin10_l urdf file -->
    <xacro:include filename="/home/nnd/elfin_robot/elfin10_l_gripper.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="elfin10_l.ros2_control.xacro" />


    <xacro:elfin10_l_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
